@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Custom scrollbar styles */

@media only screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    position: absolute;
    width: 0.5vh;
    border-radius: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    /* border: 0.1vh solid rgba(117, 116, 116, 0.34); */
    border: 0.1vh solid #1b1f2a;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #50597b;
  }
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    position: absolute;
    width: 0.5vh;
    border-radius: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    /* border: 0.1vh solid rgba(117, 116, 116, 0.34); */
    border: 0.1vh solid #1b1f2a;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #50597b;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
